In [9]:
lines = open('2022seedsteams.txt').read().split('\n')
df = pd.DataFrame(columns=["Seed","Team"])
c = 0
for line in lines:
    fields = line.split(" ")
    seed = int(fields[0])
    teams = []
    if len(fields) > 2:
        for team in fields[1:]:
            if team != "/":
                teams.append(team)
    else:
        teams.append(fields[1])
    for team in teams:
        df = df.append(pd.Series([seed,team],index=df.columns,name=c))
        c += 1
df

   Seed             Team
0     1          Gonzaga
1    16       Georgia_St
2     8         Boise_St
3     9          Memphis
4     5      Connecticut
..  ...              ...
63   14          Colgate
64    7              USC
65   10         Miami_FL
66    2           Auburn
67   15  Jacksonville_St

[68 rows x 2 columns]

In [10]:
open("2022MadnessTeams.txt","w").write("\n".join(list(df['Team'])))

634

In [11]:
df.to_csv('2022fixedseedsteams.csv',index=0)